<%= image_tag(@user.picture_url) %>

<h1>Description: <%= @user.description %></h1>

<h1>Trips: </h1>

<%= link_to "Edit Profile", dashboard_edit_path(user_id: current_user.id) %></br>
<%= link_to "View Profile", profile_show_path(user_id: current_user.id) %>