<%= link_to "Create Listing", new_listing_path %>

<ul class="listings">
  <% @listings.each do |listing| %>
    <li>
      <%= link_to "#{listing.name}", listing %></br>
      <%= link_to "Edit Listing", edit_listing_path(listing) %></br>
      <%= link_to "Remove Listing", listing_path(listing), method: 'delete' %></br></br>
    </li>
  <% end %>
</ul>
    
