<h1> Admin Dashboard</h1>

<%= image_tag(@admin.picture_url) %>

<br>

<h2>Manager Area  </h2>

<h3> <p><%= link_to "Manage Users" %></p> 
<p><%= link_to "Manage Listings" %> </p> 
 <p><%= link_to "Manage Cities" %> </p>       </h3>

