  <div class="row text-center welcome">
    <h2>Welcome to RESTful_stay</h2>
    <p>
      Book the trip of your dreams, browse listings in the cities below
    </p>
  </div>

<div class="jumbotron cities">
  <% @cities.order(:name).in_groups_of(3, false).each do |group| %>
    <div class="row text-center">
      <% group.each do |city| %>
        <div class="city col-sm-4">
          <p> <%= link_to city.name, city_path(city) %> </p>
          <div class="img-thumbnail center-block">
            <%= link_to image_tag(city.image_url), city_path(city) %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
