



<h1>Booked Reservations</h1>

<table style="width:100%">
  <tr>
    <th>Guest Name</th>
    <th>Trip Start Date</th>
    <th>Trip End Date</th>
    <th>Listing Details</th>
  </tr>
  <% @trips.each do |trip| %>
  <tr>
    <td><%= link_to "#{trip.user_name}", profile_show_path(trip.guest_id) %></td>
    <td><%= trip.checkin %></td>
    <td><%= trip.checkout %></td>
    <td><%= link_to "#{trip.listing_name}", listing_path(trip.listing_id) %></td>
  </tr>
  <% end %>
</table>
