<div class="jumbotron about">
  <div class="row text-center">
    <div class="container about_text">
      <h1>About</h1>
      <p>
        Created by: Brian Heim, David Davydov, Nate Anderson, and Raphael Barbo
      </p><br />
      <h4>RESTful_stay</h4>
    </div>
  </div>
</div>
