<div class="jumbotron about">
  <div class="row text-center">
    <div class="container">
      <h1>About</h1>
      <p>
        Created by: Brian Heim, David Davydov, Nate Anderson, and Raphael Barbo
      </p>      
    </div>
  </div>
</div>
