
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.img-thumbnail {
  display: inline-block;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #3c3c3c;
}

.img-thumbnail img {
  align-content: center;
  width: 190px;
  height: 190px;
}

.listing_image img {
  align-content: center;
  max-width: 900px;
  max-height: 300px;
  min-width: 200px;
  min-height: 200px;
}

.listing_wrapper {
  padding: 5px;
  display: inline-block;
  width: 200px;
  height: 50px;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #3c3c3c;
}

.city_image img {
  align-content: center;
  width: 190px;
  height: 190px;
}

.col-sm-4 {
  padding: 10px;
}

.col-md-4 {
  padding: 10px;
}

.col-md-6 {
  padding: 10px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  font-family: inherit;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: 20px;
  background-color: #f5f5f5;
  border-color: #3c3c3c;
}

.credit {
  border-color: #3c3c3c;
  color: #00a99d;
}

.cities {
  opacity: 0.95;
  background-color: #3c3c3c;
  background-color: transparent;
  padding: 20px;
}

.about_host {
  background-color: transparent;
  padding: 20px;
}

.listing_show {
  margin-top:50px;
  background-color: transparent;
  padding: 20px;
  border-style:solid;
  border-color: #00a99d;
}

.dashboard_show {
  margin-top:50px;
  background-color: transparent;
  padding: 20px;
  border-style:solid;
  border-color: #00a99d;
}

.profile_show {
  margin-top:50px;
  background-color: transparent;
  padding: 20px;
  border-style:solid;
  border-color: #00a99d;
}

.city_search {
  opacity: 0.95;
  background-color: #00a99d;
  padding: 10px;
  margin-bottom: 175px;
}

.welcome > h2 {
  color: #487aa5;
  padding-bottom: 20px;
}

.welcome > p {
  opacity: 0.90;
  color: #00a99d;
  font-size: 20px;
  padding-bottom: 20px;
}

.dropdown {
  display: inline-block;
  padding: 10px;
}

.dropdown-menu {
  position: sticky;
  z-index: 9999;
}

.login {
  opacity: 0.95;
}

.sign_up {
  opacity: 0.95;
}

.about {
  margin-top:50px;
  margin-bottom:200px;
  border-style:solid;
  opacity: 0.90;
  border-color: #00a99d;
}

.well-md {
  border-style:solid;
  color: #3c3c3c;
  border-color: #3c3c3c;
}

.navbar {
  border-color: #3c3c3c;
  border-style:solid;
  opacity: 0.95;
}

.navbar-default .navbar-brand{
  color: #00a99d;
  font-size: 25px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #b29f67;
}

.navbar-default .navbar-nav > li > a {
  color: #00a99d;
  padding-left: 10px;
  font-size: 20px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #b29f67;
}

.btn-primary, .btn-default {
  background-color: #00a99d;
  border-color: #00a99d;
}

#login-button {
  padding-left: 20px;
  padding-right: 20px;
}

.btn-primary:hover, .btn-default:hover {
  background-color: #b29f67;
  border-color: #b29f67;
  color: #3c3c3c;
}
